
@import 

url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
     font-family: "Open Sans", sans-serif;
}

.header{
   background-image: url("images/developer.png"),url("images/header_bg.png");
   background-repeat: no-repeat;
   background-position: top left,bottom right;
}

.btn-primary{
   background-color: #FD6E0A;
   font-size:20px ;
   color: white;
   font-weight: bold;
   padding:18px 36px;
   border: none;
   border-radius: 10px;
   cursor: pointer;

}
/* selected tag start */
.text-center{
   text-align: center;
}
.secondary-bg{
   background-color: #FFF8F3;
}
.text-primary{
   color:#FD6E0A
}
.dark-2{
    color:#474747;
    
}
.section-tittle{
color: #181818;
font-weight: bold;
font-size: 35px;
}
.section-description{
   color:#757575;
   font-size: 18px;
   margin: 30px 0;
}
/* selected tag end */

/* nav style start */
 .navber{
display:flex;
justify-content: space-between;
margin:50px 226px;

 }
 .nav-logo{
   font-weight: 800;
   font-size: 45px;

 }
  .nav-items{
display: flex;
justify-content: center;
align-items: center;
  }
 .nav-items li{
list-style: none;
margin-right: 50px;
 
 }
 .nav-items li a{
    text-decoration: none;
    font-size: 20px;
    
    
 }

/* nav style end */

/* banner is start */
 .bannar-contain{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 35px 0 230px;
 }
.banner-profile{
   width:584px;

}
.banner-greeting{
   font-size: 45px;
   font-weight: bold;

}
.hero-details{
   max-width:585px ;


  
}
.banner-tittle{
   font-size: 85px;
   font-weight: 700;
}


/*banner is end */

/* section-1 is start */
main{
   max-width: 1140px;
   margin: 0 auto;
}
main section{
    margin-top:130px ;
    margin-bottom:130px;
}
.about-section{
 padding:131px 156px ;
 text-align: center;
 border-radius: 5px;

}
.about-detailes-container{
   display: flex;
   gap:50px ;
}



/* section-1 is end 


/* skill section is start */
.skill-container{
   display: flex;
   gap:24px;
}
.skill{
  
   padding: 30px;
   box-shadow:0px 6px 50px rgba(0,0,0,0.06) ;
   border-radius:5px;
 
}
.skill-tittle{
   font-size: 20px;
}
/* skill section is end */


/* resume section is start */

.resume-container{
   display: flex;
   margin:113px 0 10px 0;
   gap:71px;
   margin-top:30px ;
   /* text-align: center; */
}
.resume-section{

   text-align: center;
}

.resume-colum-tittle{
   margin-bottom:30px ;
   font-size:30px ;
   font-weight: 700;
}
.resume-container{
   text-align: start;
}

.exprience-sub-tittle{
   margin: 10px 0 20px 0;
   font-size: 20px;
  


}
.exprience-description{
      color:#757575;
   font-size: 18px;
}

   
.resume-section hr{
   margin:30px 5px ;
}
.cv-btn{
 margin: 0 auto;
}

/* resume section is end */



/* footer section is start */
footer{
   padding: 130px 230px;

}
.footer-container{
   display: flex;
   gap: 117px;
     margin:0 auto;
   justify-content: space-between;
}
.name-input{
width: 451px;
height: 64px;
padding: 18px 30px 5px;
border: none;
border-radius: 5px;
background-color: #ffffff;
font-size: 20px;
margin-bottom: 10px;
}
.massage-input{
   height: 180px;
   padding: 18px 30px 5px;
}
.name-input:focus{
   border: 1px solid red;
   outline: none;
}


/* footer section is end */


